urllib3==1.26.16
jsonlib-python3==1.6.1
networkx==2.8.8
fa2==0.3.5
matplotlib==3.8.0
pandas==2.1.1
numpy==1.26.0
nltk==3.9.0
wordcloud==1.9.1
beautifulsoup4==4.12.2
lxml==4.9.3
python-louvain==0.16